/// Animations des nuages 

@keyframes cloud {
    0% {
        transform: translateX(-250px);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform : translateX(100vw)
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(100vw);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform : translateX(-250px)
    }
}

/// Animations du entry

@keyframes left-arrow {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(2.5px);
    }
    100% {
        transform: translateX(0px)
    }

}

@keyframes right-arrow {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(-2.5px);
    }
    100% {
        transform: translateX(0px)
    }

}


/// Animation des étoile de l'intro

@keyframes star-anim {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }

/// Animation projects list

@keyframes projectAppear {
    0% {
        display:block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }