
// Polices 

@font-face {
    font-family : "Redaction";
    src:url(../police/redaction/Redaction-Regular.woff2);
    font-weight:normal;
}

@font-face {
    font-family : "Redaction";
    src:url(../police/redaction/Redaction-Bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family : "Redaction";
    src:url(../police/redaction/Redaction-Italic.woff2);
    font-style: italic;
}

* {
    font-family: 'Redaction', sans-serif;
}