// colors

$light-pink: #f9ccff;
$hard-pink: #fb3cce;



// spacing
$gutter: 1rem;
$tiny-gutter: $gutter * 0.25;
$small-gutter: $gutter * 0.5;
$big-gutter: $gutter * 2;

// border 

$normal-border: 2px solid $hard-pink;
$black-border: 2px solid black;
$menu-border: 3px solid $hard-pink;


//box-shadow

$small-shadow: 1px 1px 7.5px rgba(0, 0, 0, 0.9);
$music-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
$inner-shadow: 0.5px .5px 5px rgba(0, 0, 0, 0.9) inset;






