@use './reset.css';
@use './_police.scss';
@use './variable';
@use './animation';

html {
    cursor: url("../images/curseur.png") 15 30, auto;
}

body {
    background-image: url("../images/mobile_background.jpg");
    background-size: cover;
    position:relative;
    z-index:0;
}

a {
    color:black;
    text-decoration: none;
}

main {
    display:flex;
    justify-content: center;
    padding: variable.$small-gutter;
    position:relative;
    overflow: hidden;

    @media (max-height:600px){
        padding: variable.$tiny-gutter;
    }

    @media (min-width:1500px){
        padding: 1.75rem;
    }
  }

@media (min-width:1024px){
    body {
        background-image: url("../images/desktop_background.jpg");
        background-size: cover;
        background-attachment:fixed;
        
    }
}


/// Informations page 

.page {

    padding: variable.$gutter;
    background-color: white;
    border: variable.$black-border;
    text-align:left;
    word-break: break-word;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;

    &::-webkit-scrollbar {
        display: none;
        width:0;
        height:0;
        -webkit-appearance: none;
    }


    @media (min-width:768px){
        font-size: 20px;
    }

    @media (min-width:1024px){
        margin:0 variable.$gutter;
        height:98vh;
        overflow: scroll;
        padding:1rem 3rem;

        div:last-of-type {
            margin-bottom:0;
        }
    }

    @media (min-width:1500px){
        margin:0 2rem;
        height:94vh;
    }

    blockquote {
        p {
            font-style: italic;
            &::before {
                content: '"';
            }
            &::after {
                content: '"';
            }
        }
    }

    a {
        text-decoration: underline;
        cursor: pointer;
    }

    //// Style des classes WP

    /// Alignement du texte 
    .has-text-align-center {
        text-align:center;
    }

    .has-text-align-right {
        text-align:right;
    }

    em {
        font-style: italic;
    }

    strong {
        font-style: bold;
    }

    /// Youtube & Soundcloud

    iframe {
        width:100%;
        max-width:500px;
        height:200px;
        margin:0 auto variable.$small-gutter auto;

        @media (min-width:400px){
            height:195px;
            width:350px;
        }

        @media (min-width:768px){
            width:500px;
            height:295px;
        }

        @media (min-width:1025px){
            min-width:700px;
            height:395px;
            margin-bottom: 1.75rem;
        }
    }


    // Videos WP

    .wp-block-video {

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        video {
            margin-bottom: variable.$small-gutter;
            max-width:90vw;
            height:400px;
        }
    }

    .wp-block-embed__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    /// Image et son

    .wp-block-audio, .wp-block-image {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: variable.$small-gutter;

        @media (min-width:1025px){
            margin-bottom:1.5rem;
        }

        img {
            margin-bottom:variable.$small-gutter;
        }
    }

    .wp-block-separator {
        max-width:350px;
    }

    /// Bloc contenu + text

    .wp-block-media-text {
        margin: variable.$gutter 0;

        @media (min-width:1025px){
            margin-bottom:1.5rem;
        }

        @media (min-width:550px){
            display:flex;
            justify-content: center;

            .wp-block-media-text__content {
                margin-left:variable.$gutter;
            }

            .has-media-on-the-right {
                flex-direction: row-reverse;
            }
        }
    }

    /// pictures gallery

    .wp-block-gallery {
        margin: 0 auto variable.$small-gutter auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width : 1025px){
            margin-bottom:1.75rem;
        }

    }

    .blocks-gallery-grid {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap:10px;
        justify-content: center;
        align-items: center;

        @media (min-width:768px){
            grid-column-gap:1.75rem;
        }


        li {
            margin-bottom:0;
            &:before {
                content:'';
            }

            img {
                margin-bottom: variable.$small-gutter;
                max-width:100% ;
                max-height:none;

                @media (min-width:1024px){
                    max-width:100%;
                }
            }
        }
    }

    /// Téléchargement fichier 

    .wp-block-file {

        padding:variable.$gutter;
        display:block;

        @media (min-width:1025px){
            margin-bottom:1.75rem;
            padding:variable.$big-gutter 2rem ;
        }

        a {
            text-decoration: none;
        }

        &__button {
            border:1px solid black;
            padding:variable.$small-gutter;
            margin-left:variable.$gutter;
            background-color: #efefef;

            &:hover {
                background-color: #e6e4e4;
            }
        }
    }

    &-appear {
        animation: componentAppear 1.5s linear forwards;
    }

    img {
        max-width: 100%;
        height:auto;
        display:block;
        margin-bottom:variable.$gutter;

        @media (min-width:768px){
            margin-bottom:variable.$big-gutter;
        }

        @media (min-width:1024px){
            margin-bottom:1.75rem;
        }

        @media (min-width:1500px){
        }
    }

    figcaption {
        font-style: italic;
        text-align: center;
        font-size: 11px;
        line-height: normal;

        @media (min-width:1024px){
            font-size: 15px;
            line-height: 20px;
        }
    }

    figure {
        margin-bottom: variable.$small-gutter;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width:1024px){
            margin-bottom: 1.5rem;
        }

            iframe {
                margin-bottom:variable.$small-gutter;
            }
    }

    figure.wp-block-image {

        img {
            margin-bottom: variable.$small-gutter;
        }
    }


    h1, h2 {
        margin:variable.$gutter 0;
    }

    p, li {
        margin-bottom:variable.$small-gutter;
        line-height: 22.5px;

        @media (min-width:1025px){
            line-height: 30px;
        }

        @media (min-width:1500px){
            width:92.5%;
            margin: 0 auto 1.5rem auto;
        }
    }

    @media (min-width:1025px){
        h1, h2 {
            margin:1.5rem 0;
        } 

        p, li {
            margin-bottom:1.5rem;
        }
    }

    h1 {
        font-weight: bold;
        font-size: 25px;
        @media (min-width:1500px){
            margin:1.75rem 0;
        }
        @media (min-width:768px){
            font-size:40px;
        }
        
    }

    h2 {
        font-weight: bold;
        &::before {
            content: '- '
        }
        &::after {
            content: ' -'
        }
    }

    li {
        &:before {
            content:'✿';
            color:black;
            margin-left: -4px;
            margin-right: 10px;
            @media (min-width:1024px){
                margin-left: -10px;
            }
        }
    }

}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .menu-enter-active  {
    animation: openMenu 0.25s ease-in;
  }

  .menu-leave-active {
    animation: closeMenu 0.25s ease-out;
  }

